{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    {% for section in sections %}
        <section class="section">{{ section.title }}</section>
    {% endfor %}
{% endblock %}